ul{
    font-size: 20px;
}

.paragraph{
    font-weight: bold;
    font-style: italic;
}
.indent{
    text-indent: 50px;
}
.topics{
    font-size: larger;
    font-weight: bolder;
}
.bullets{
    margin-left: 50px;
}